<h1>Burgers!</h1>

<h2>Burgers that have NOT been eaten!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
        {{burger_name}}

        <button class="devour" data-id="{{id}}" data-newsleep="{{devoured}}">
            {{#if devoured}}{{else}}Devour{{/if}}
        </button>
    </li>

    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that have been eaten!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>
        {{burger_name}}
    </li>

    {{/if}}
    {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">
    <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="burger" name="name">
    </div>

    <button type="submit">Add Burger!</button>
</form>